%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag login_path do
        %header
          %h1 Sign in
          = label_tag :email, "Email Address"
          <br/>
          = text_field_tag :email
          <br/>
          = label_tag :password, "Password"
          <br/>
          = password_field_tag :password
          <br/><br/>
          = submit_tag "Submit"
