%section.sign_in.container
  = form_for @user do |f|
    %header
      %h1 Sign in
      = f.label :email, "Email Address" <br/>
      = f.text_field <br/>
      = f.label :password "Password" <br/>
      = f.password_field <br/>
      = f.submit "Sign in" <br/>
